<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SmartHttp" connectionString="Data Source=192.168.2.200;Initial Catalog=SmartHttpDev;User ID=sa;Pwd=sa;" providerName="System.Data.SqlClient" />
    <add name="SmartHttpLog" connectionString="Data Source=192.168.2.200;Initial Catalog=SmartHttpLogDev;User ID=sa;Pwd=sa;" providerName="System.Data.SqlClient" /> 
  </connectionStrings>
  <appSettings>
    <add key="AppID" value="4" />    
    <add key="AppMapperPath" value="E:\tfs\common\HttpService\SmartHttpService\SmartHttpService\AppMapper.txt"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy enabled="false">
      <proxy />
      <bypasslist />
      <module />
    </defaultProxy>
    <connectionManagement>
      <add address="*" maxconnection="1024" />
    </connectionManagement>
  </system.net>
</configuration>